# SPDX-FileCopyrightText: 2025 Helio Chissini de Castro <heliocastro@gmail.com>
#
# SPDX-License-Identifier: MIT

name: Validation
permissions:
  contents: read
  pull-requests: write

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    branches: [main]

jobs:
  commitlint:
    name: Commit Lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: webiny/action-conventional-commits@8bc41ff4e7d423d56fa4905f6ff79209a78776c7 # v1.3.0

  typecheck:
    needs: commitlint
    name: ty Type Checker
    runs-on: ubuntu-24.04

    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6.8.0
        with:
          enable-cache: true
          activate-environment: "true"
          python-version: "3.13"

      - name: Run ty Type Checker
        run: |
          uv sync
          uv run ty check --output-format github

  ruff:
    needs: commitlint
    name: Ruff Python Linter
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Ruff Check
        uses: astral-sh/ruff-action@a7b1296fb5bd3ebb270731d1782bf05a97806e29
        with:
          args: 'check --config pyproject.toml'
      - name: Ruff Format
        uses: astral-sh/ruff-action@a7b1296fb5bd3ebb270731d1782bf05a97806e29
        with:
          args: 'format --check --config pyproject.toml'
